{% extends 'base_template.html' %}

{% block title %}Данные из базы данных{% endblock %}
{% block content %}
    <table border="1">
        <caption>Данные из базы данных</caption>
        <thead>
            <tr>
                <th>Первичный ключ</th>
                <th>Данные из инпутов</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}